.judul {
  font-size: 1 rem;
  font-weight: bold;
  color: #ffeb3b;
  text-align: center;   /* rata tengah */
  white-space: nowrap;  /* cegah teks turun ke bawah */
}

h1 {
  font-size: 8vw; /* otomatis menyesuaikan layar */
}
h2 {
  font-size: 5vw;
}
p {
  font-size: 4vw;
}


